:host {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  left: -9999px;
  top: -9999px;
}

.gif-container {
  position: relative;
}

.gif-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.control-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 30px auto;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  height: 40px;
  padding-right: 9px;
  background-color: #161616;
  width: 100%;
  opacity: 0.8;
}

.progress-bar {
  height: 5px;
  max-width: 100%;
  position: relative;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #525252;
  overflow: hidden;
}

.progress-bar__filler {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #00a0d3;
  transition: 0.2s;
}

.play-pause-button {
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button {
  transform: rotate(45deg);
  background-color: #a4afb1;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  clip-path: polygon(0% 10%, 0% 0%, 100% 0%, 100% 100%, 90% 100%);
  margin-left: -6px;
}

.pause-button {
  box-sizing: border-box;
  width: 10px;
  height: 15px;
  background-color: transparent;
  border: #a4afb1 3px solid;
  border-top: none;
  border-bottom: none;
}
